.single-grid-user {
  text-align: center;
  border: 1px solid lightgrey;
  width: 40%;
  margin: 20px auto;
  box-shadow: 1px 8px 20px -5px rgba(0, 0, 0, 0.94);
  overflow: hidden;
}

img {
  width: 100%;
}

.grid-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
